.cols {
  display: flex;
  margin-bottom: 25px;
}

.container-jogo {
  height: 100vh;
  background: radial-gradient(54.35% 106.19% at 50.71% 50.98%, #009FF9 0%, rgba(0, 163, 255, 0.26) 100%);
}

.container-jogo > button {
  background: none;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 3rem;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.container-jogo > button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 50px;
}

.btns-play-game > button {
  margin: 10px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
}

.btns-play-game > button:hover {
  background-color: rgba(255, 255, 241, 0.7);
}

.btns-play-game > button {
  font-size: 0.99rem;
  font-weight: bold;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 100%;
}

.content {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content > h2 {
  margin: 50px 0px 0px 0px;
}

.content > h3 {
  margin-bottom: 10px;
}